header{
    background-color: #2C3F50;
}

.about{
    background-color: #1ABC9C;
}
.aroundtheweb{
    background-color: #3B546D;
}
.copyright{
    background-color: #2C3F50;

}
.jumbotron{
    background-color: #1ABC9C;
}
:root{
    --col-white:white;
    --col-black:black;
}