/* STELLA CON LINETTE */
.hr-star{
    width: 100px;
    border: 3px solid var(--col-white);
    margin: auto 0;
    border-radius: 10%;
    opacity: 100;
   
}
.fa-star{
    margin: 0 10px ;
    color: var(--col-white);
}
.star{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.portfolio .fa-star{
    color: var(--col-black);
    
}
.portfolio .hr-star{
    border: 3px solid var(--col-black);
    
}
.contact-me .fa-star{
    color: var(--col-black);
    
}
.contact-me .hr-star{
    border: 3px solid var(--col-black);
    
}